{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": false,
      "target": "",
      "useLocalAssets": false
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": true,
      "afterUpload": false
    },
    "sync": {
      "enable": true,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": true,
      "pollingInterval": 500,
      "extensions": [
        ".html",
        ".htm",
        ".php"
      ],
      "ignore": {
        "patterns": [
          ".*",
          "wp-admin",
          "wp-includes",
          "node_modules",
          "Prepros Export",
          "bower_components"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          ".*",
          "desktop.ini",
          "prepros.cfg",
          "node_modules",
          "Prepros Export",
          "prepros.config",
          "prepros-6.config",
          "*-original.jpg",
          "*-original.jpeg",
          "*-original.png",
          "*-original.svg",
          "*.scss",
          "*.sass",
          "*.less",
          "*.pug",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.kit",
          "*.turf",
          "*.ts"
        ],
        "exceptions": []
      }
    },
    "uploader": {
      "remotePath": "",
      "timeout": 20000,
      "autoUpload": true,
      "connectionType": "ftp",
      "history": [
        {
          "file": "README.md",
          "mtimeMs": 1590083985944.0854,
          "ctimeMs": 1590427325367.8909,
          "date": "2020-05-26T19:04:22.794Z"
        },
        {
          "file": "package-lock.json",
          "mtimeMs": 1590222250669.1833,
          "ctimeMs": 1590428624704.369,
          "date": "2020-05-26T19:04:23.891Z"
        },
        {
          "file": "package.json",
          "mtimeMs": 1590222250735.179,
          "ctimeMs": 1590428071550.3806,
          "date": "2020-05-26T19:04:25.574Z"
        },
        {
          "file": "#src/img/logo.svg",
          "mtimeMs": 1590222249232.1992,
          "ctimeMs": 1590428649647.1992,
          "date": "2020-05-26T19:04:26.209Z"
        },
        {
          "file": "#src/img/phone.svg",
          "mtimeMs": 1590222249236.1836,
          "ctimeMs": 1590428219832.6345,
          "date": "2020-05-26T19:04:26.754Z"
        },
        {
          "file": "#src/js/script.js",
          "mtimeMs": 1590222249238.1848,
          "ctimeMs": 1590427286660.3303,
          "date": "2020-05-26T19:04:27.330Z"
        },
        {
          "file": "dist/css/style.css",
          "mtimeMs": 1590519361746.7346,
          "ctimeMs": 1590519361746.7346,
          "date": "2020-05-26T19:04:27.971Z"
        },
        {
          "file": "dist/css/style.min.css",
          "mtimeMs": 1590519363943.6284,
          "ctimeMs": 1590519363943.6284,
          "date": "2020-05-26T19:04:28.685Z"
        },
        {
          "file": "dist/img/form__bg.png",
          "mtimeMs": 1590296121116.1335,
          "ctimeMs": 1590428665713.5422,
          "date": "2020-05-26T19:04:43.834Z"
        },
        {
          "file": "dist/img/header_bg.png",
          "mtimeMs": 1590222249419.1897,
          "ctimeMs": 1590428683773.2356,
          "date": "2020-05-26T19:04:47.103Z"
        },
        {
          "file": "dist/img/header_woman.png",
          "mtimeMs": 1590222249437.1826,
          "ctimeMs": 1590428658747.0293,
          "date": "2020-05-26T19:04:48.103Z"
        },
        {
          "file": "dist/img/logo.png",
          "mtimeMs": 1590222249442.183,
          "ctimeMs": 1590428609997.329,
          "date": "2020-05-26T19:04:48.668Z"
        },
        {
          "file": "dist/img/phone-footer.svg",
          "mtimeMs": 1590316592085.1797,
          "ctimeMs": 1590428222987.6936,
          "date": "2020-05-26T19:04:50.368Z"
        },
        {
          "file": "dist/img/phone-footer_white.svg",
          "mtimeMs": 1590316592088.1787,
          "ctimeMs": 1590428214245.704,
          "date": "2020-05-26T19:04:51.018Z"
        },
        {
          "file": "dist/img/phone.svg",
          "mtimeMs": 1590513652436.8003,
          "ctimeMs": 1590513652436.8003,
          "date": "2020-05-26T19:04:51.586Z"
        },
        {
          "file": "dist/img/phone_red.svg",
          "mtimeMs": 1590222249452.1836,
          "ctimeMs": 1590428217027.8613,
          "date": "2020-05-26T19:04:52.167Z"
        },
        {
          "file": "dist/img/qa__down.svg",
          "mtimeMs": 1590288085955.6963,
          "ctimeMs": 1590428150517.1565,
          "date": "2020-05-26T19:04:52.733Z"
        },
        {
          "file": "dist/img/qa__up.svg",
          "mtimeMs": 1590288062811.856,
          "ctimeMs": 1590428071957.229,
          "date": "2020-05-26T19:04:53.917Z"
        },
        {
          "file": "dist/img/reg-example.svg",
          "mtimeMs": 1590222249480.1846,
          "ctimeMs": 1590428663003.0354,
          "date": "2020-05-26T19:04:55.049Z"
        },
        {
          "file": "dist/img/reg-info01.svg",
          "mtimeMs": 1590222249485.1848,
          "ctimeMs": 1590428521874.2246,
          "date": "2020-05-26T19:04:56.636Z"
        },
        {
          "file": "dist/img/reg-info02.svg",
          "mtimeMs": 1590222249490.1843,
          "ctimeMs": 1590428520421.8848,
          "date": "2020-05-26T19:04:57.251Z"
        },
        {
          "file": "dist/img/reg-info03.svg",
          "mtimeMs": 1590222249495.1846,
          "ctimeMs": 1590428521596.9746,
          "date": "2020-05-26T19:04:57.866Z"
        },
        {
          "file": "dist/img/reg-info04.svg",
          "mtimeMs": 1590222249500.1848,
          "ctimeMs": 1590428510730.275,
          "date": "2020-05-26T19:04:58.616Z"
        },
        {
          "file": "dist/img/reg-info05.svg",
          "mtimeMs": 1590222249504.183,
          "ctimeMs": 1590428552172.9739,
          "date": "2020-05-26T19:04:59.836Z"
        },
        {
          "file": "dist/img/reg-info06.svg",
          "mtimeMs": 1590222249508.1824,
          "ctimeMs": 1590428505069.6116,
          "date": "2020-05-26T19:05:00.555Z"
        },
        {
          "file": "dist/img/reg-info07.svg",
          "mtimeMs": 1590222249513.1858,
          "ctimeMs": 1590428537648.0984,
          "date": "2020-05-26T19:05:01.198Z"
        },
        {
          "file": "dist/img/reg-info08.svg",
          "mtimeMs": 1590222249517.184,
          "ctimeMs": 1590428411633.1047,
          "date": "2020-05-26T19:05:02.848Z"
        },
        {
          "file": "dist/img/reg-step01.svg",
          "mtimeMs": 1590222249520.184,
          "ctimeMs": 1590428641187.3643,
          "date": "2020-05-26T19:05:03.682Z"
        },
        {
          "file": "dist/img/reg-step02.svg",
          "mtimeMs": 1590222249523.1836,
          "ctimeMs": 1590428483356.9219,
          "date": "2020-05-26T19:05:04.319Z"
        },
        {
          "file": "dist/img/reg-step03.svg",
          "mtimeMs": 1590222249526.1917,
          "ctimeMs": 1590428570328.7083,
          "date": "2020-05-26T19:05:04.962Z"
        },
        {
          "file": "dist/img/reg-step__number1.png",
          "mtimeMs": 1590222249529.185,
          "ctimeMs": 1590428625775.3884,
          "date": "2020-05-26T19:05:05.662Z"
        },
        {
          "file": "dist/img/reg-step__number2.png",
          "mtimeMs": 1590222249547.184,
          "ctimeMs": 1590428634665.3345,
          "date": "2020-05-26T19:05:06.328Z"
        },
        {
          "file": "dist/img/reg-step__number3.png",
          "mtimeMs": 1590222249551.1821,
          "ctimeMs": 1590428633584.2012,
          "date": "2020-05-26T19:05:06.952Z"
        },
        {
          "file": "dist/img/test.svg",
          "mtimeMs": 1590222249559.1833,
          "ctimeMs": 1590428642689.5747,
          "date": "2020-05-26T19:05:08.820Z"
        },
        {
          "file": "dist/js/script.js",
          "mtimeMs": 1590515383207.7551,
          "ctimeMs": 1590515383207.7551,
          "date": "2020-05-26T19:05:09.526Z"
        },
        {
          "file": "index.php",
          "mtimeMs": 1590519817263.341,
          "ctimeMs": 1590519817263.341,
          "date": "2020-05-26T19:04:23.365Z"
        },
        {
          "file": "dist/img/qa__question.svg",
          "mtimeMs": 1590288008608.2063,
          "ctimeMs": 1590428374393.121,
          "date": "2020-05-26T19:04:53.334Z"
        },
        {
          "file": "dist/img/about_background.png",
          "mtimeMs": 1590519284790.5974,
          "ctimeMs": 1590519284790.5974,
          "date": "2020-05-26T19:04:35.393Z"
        }
      ]
    },
    "packages": {
      "createPackageLock": true
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "> 2%",
          "not dead",
          "last 5 versions",
          "not ie <= 8"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "> 2%",
                "not dead"
              ],
              "preserveImports": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "> 2%",
                    "not dead"
                  ],
                  "preserveImports": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        },
        "fonts": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 90
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "tab",
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "compact",
        "precision": 10,
        "sourceMap": false,
        "sourceComments": false
      },
      "png": {
        "quality": 90
      },
      "postcss-import": {
        "ignoreKeywords": [],
        "sourceMap": false
      },
      "postcss-preset-env": {
        "stage": 2,
        "browsers": [
          "> 2%",
          "not dead"
        ],
        "sourceMap": false
      },
      "pug": {
        "pretty": false
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": true,
        "sourceMap": false,
        "linenos": false
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "turf": {
        "rootDir": ""
      },
      "typescript": {
        "allowJs": false,
        "allowSyntheticDefaultImports": true,
        "allowUmdGlobalAccess": false,
        "allowUnreachableCode": false,
        "allowUnusedLabels": false,
        "alwaysStrict": false,
        "charset": "utf8",
        "checkJs": false,
        "declaration": false,
        "disableSizeLimit": false,
        "downlevelIteration": false,
        "emitBOM": false,
        "emitDecoratorMetadata": false,
        "experimentalDecorators": false,
        "forceConsistentCasingInFileNames": false,
        "importHelpers": false,
        "jsx": "React",
        "keyofStringsOnly": false,
        "lib": [],
        "maxNodeModuleJsDepth": 0,
        "module": "ES2015",
        "moduleResolution": "NodeJs",
        "newLine": "LineFeed",
        "noFallthroughCasesInSwitch": false,
        "noImplicitAny": false,
        "noImplicitReturns": false,
        "noImplicitThis": false,
        "noStrictGenericChecks": false,
        "noUnusedLocals": false,
        "noUnusedParameters": false,
        "noImplicitUseStrict": false,
        "noLib": false,
        "noResolve": false,
        "preserveConstEnums": false,
        "jsxFactory": "React.createElement",
        "removeComments": false,
        "skipLibCheck": false,
        "sourceMap": false,
        "strict": false,
        "strictFunctionTypes": false,
        "strictBindCallApply": false,
        "strictNullChecks": false,
        "strictPropertyInitialization": false,
        "suppressExcessPropertyErrors": false,
        "suppressImplicitAnyIndexErrors": false,
        "target": "ES3",
        "resolveJsonModule": false,
        "esModuleInterop": false,
        "useDefineForClassFields": false
      },
      "custom-c7dznrom3o": {
        "command": "group-css-media-queries {{input}} {{output}}"
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "node-sass",
            "enable": false
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          },
          {
            "task": "custom-c7dznrom3o",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ],
          "relativePath": "../../dist/css/"
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".php",
          "type": "SOURCE_RELATIVE",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "html"
            }
          ],
          "relativePath": "../../"
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "postcss-import",
            "enable": true
          },
          {
            "task": "postcss-preset-env",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": ".min",
          "alwaysSuffix": false
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": false
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "typescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": [
      {
        "file": "dist/css/style.css",
        "config": {
          "autoCompile": true
        }
      }
    ]
  }
}
