.container {
	width: 1170px;
	margin: 0 auto;
}
@media screen and (max-width: $ExtraLarge) {
	.container {
		width: 960px;
	}
}
@media screen and (max-width: $Large) {
	.container {
		width: 720px;
	}
}
@media screen and (max-width: $Medium) {
	.container {
		width: 540px;
	}
}
@media screen and (max-width: $Small) {
	.container {
		width: calc(100% - 40px);
	}
}