// Размеры ширин экрана
$ExtraLarge: 1260px; // Максимальная ширина
$Large: 992px; // Ширина Планшета альбомная ориентация
$Medium: 768px; // ширина планшета вертикальная ориентация
$Small: 576px; // Мобильные устройства

// Цвета
$colorBlue: #1663c7;
$colorBlue2: #035fd7;
$colorRed: #f93838;
// Шрифт
$font: Montserrat;
// Вертикальные отступы
$top1: 207px;
$top2: 117px;
$top3: 86px;

@media screen and (max-width: $Small) {
  $top1: 140px;
  $top2: 80px;
  $top3: 60px;
}
