<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Авангард - Центр миграционных услуг
		link(rel="stylesheet", href="/dist/css/style.css")
	body
		include blocks/navigation
		include blocks/header
		include blocks/reg-info
		include blocks/reg-example
		include blocks/reg-step
		include blocks/about
		include blocks/qa
		include blocks/form
		include blocks/footer
