.footer {
  background: #021124;
  padding-top: 30px;
  padding-bottom: 40px;
}

.block-footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &__item {
    // min-width: 320px;
    width: calc(100% / 3 - 0px);
  }

  &__logo {
    color: #fff;
  }

  &__text-info p {
    color: rgba(255, 255, 255, 0.4);
    font-size: 12px;
    margin-top: 17px;
  }

  &__text-ogrn {
    color: rgba(255, 255, 255, 0.4);
    margin-top: 26px;
  }

  &__text-copyright {
    color: rgba(255, 255, 255, 0.4);
    line-height: 16px;
    margin-top: 10px;
  }

  &__links {
    display: flex;
    flex-direction: column;
    list-style-type: none;
  }

  &__link {
    margin-top: 10px;
    a {
      font-weight: 500;
      text-transform: none;
      font-size: 12px;
      line-height: 15px;
      letter-spacing: 0.04em;
      color: rgba(255, 255, 255, 0.7);
    }
  }

  &__phone {
    flex-direction: column;
  }

  &__phone-icon-text {
    display: flex;
  }

  &__phone-text {
    color: rgba(255, 255, 255, 0.9);
  }

  &__phone-number {
    color: rgba(255, 255, 255, 0.9);
  }

  &_transp {
    margin-top: 70px;
    border: 1px solid #ffffff;
    max-width: 290px;
  }

  &__text-application {
    color: #ffffff;
  }

  &__online-application {
    margin-top: 10px;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: rgba(255, 255, 255, 0.7);
    // text-align: center;
  }
}

@media screen and (max-width: $Large) {
}

@media screen and (max-width: $Medium) {
  .block-footer {
    flex-wrap: nowrap;
  }
  .block-footer__item {
    width: calc(100% / 2 - 20px);
  }

  #block-footer__item2 {
    display: none;
  }
}
@media screen and (max-width: $Small) {
  .block-footer {
    flex-direction: column;
  }

  .block-footer__item {
    width: 100%;
  }

  .block-footer__phone {
    position: relative;
    top: -150px;
  }

  .block-footer__text-info {
    position: relative;
    top: 230px;
  }

  .block-footer_transp,
  .block-footer__online-application {
    position: relative;
    top: -190px;
  }
}
