.footer  {
  background: #021124;
  padding-top: 30px;
  padding-bottom: 40px;
}

.block-footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &__item {
    // min-width: 320px;
    width: calc(100% / 3 - 40px);
  }

  &__logo{
    color: #fff;
  }

  &__text-info {
    color: rgba(255, 255, 255, 0.4);
    font-size: 12px;
    margin-top: 17px;
  }

  &__text-ogrn {
    color: rgba(255, 255, 255, 0.4);
    font-size: 12px;
    margin-top: 26px;
  }

  &__text-copyright {
    color: rgba(255, 255, 255, 0.4);
    font-size: 12px;
    line-height: 16px;
    margin-top: 10px;
  }

  &__links {
    display: flex;
    flex-direction: column;
  }

  &__link {
    margin-top: 10px;
    a {
      font-weight: 500;
      text-transform: none;
      font-size: 12px;
      line-height: 15px;
      letter-spacing: 0.04em;
      color: rgba(255, 255, 255, 0.7);
    }
  }

  &__phone {
    flex-direction: column;
  }

  &__phone-icon-text {
    display: flex;
  }

  &__phone-text {
    color: rgba(255, 255, 255, 0.9);
  }

  &__phone-number {
    color: rgba(255, 255, 255, 0.9);
  }

  &_transp {
    margin-top: 70px;
    border: 1px solid #ffffff;
  }

  &__text-application {
    color: #FFFFFF;
  }

  &__online-application {
    margin-top: 10px;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
  }
}


