body {
	padding-top: 134px;
}
.header {
	background: url('/dist/img/header_bg.png');
	background-position: center center;
	background-size: cover;
	&-blocks {
		display: flex;
		align-items: flex-end;

		&__uptitle {
			text-transform: uppercase;
			opacity: .9;
			font-weight: 600;
		}
		&__text {
			margin-top: $top2;
			margin-bottom: $top1;
			color:#fff;
			flex: 1 0 760px;
		}
		&__btn {
			max-width: 378px;
			letter-spacing: 0.08em;
			font-weight: 900;
			font-size: 14px;
			text-transform: uppercase;
			margin-top: 60px;
		}
		&__police {
			margin-top: 19px;
			font-size: 14px;
			font-weight: bold;
			max-width: 378px;
			text-align: center;
		}
		&__woman {
			display: flex;
		}
		

	}
}