body {
  padding-top: 134px;
  overflow-x: hidden;
}
.header {
  background: url("/dist/img/header_bg.png");
  background-position: center center;
  background-size: cover;
  &-blocks {
    display: flex;
    align-items: flex-end;
    &__text {
      margin-top: $top2;
      margin-bottom: $top1;
      color: #fff;
      flex: 1 0 760px;
    }
    &__uptitle {
      text-transform: uppercase;
      opacity: 0.9;
      font-weight: 600;
    }

    &__btn {
      max-width: 378px;
      letter-spacing: 0.08em;
      font-weight: 900;
      font-size: 14px;
      text-transform: uppercase;
      margin-top: 60px;
    }
    &__police {
      margin-top: 19px;
      font-size: 14px;
      font-weight: bold;
      max-width: 378px;
      text-align: center;
    }
    &__woman {
      display: flex;
    }
  }
}
@media screen and (max-width: $Large) {
  .header-blocks__woman {
    display: none;
  }
}
