.popup-form {
  background-color: $colorBlue2;
  display: none;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 10;
  overflow: auto;
  & .container {
    position: relative;
  }
  &_hidden {
    display: flex;
    animation: scale 0.5s ease-in-out;
  }
  // &_animation {
  //   animation: scale 2s ease-in-out;
  // }
}
// Кнопка закрыте попапа
.close-form {
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: absolute;
  top: 70px;
  right: 20%;
  &__item {
    height: 4px;
    width: 100%;
    display: block;
    background-color: #fff;
  }
  & #item1 {
    transform: translatey(50%) rotate(45deg);
  }
  & #item2 {
    transform: translatey(-50%) rotate(-45deg);
  }
}

@media screen and (max-width: $Large) {
  .close-form {
    top: 50px;
    right: 0%;
  }
}
@media screen and (max-width: $Medium) {
  .close-form {
    top: 50px;
  }
}
@media screen and (max-width: $Small) {
  .close-form {
    top: 15px;
  }
}
