.block-title {
  text-align: center;
  margin-top: $top2;
  &__title {
    color: rgba(0, 0, 0, 0.7);
    text-transform: uppercase;
  }
  &__sub-title {
    font-weight: 800;
    margin-top: 10px;
  }
}

.block-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &__item {
    width: calc((100% / 4) - 20px);
    margin-top: $top3;
  }
  &__text {
    text-align: center;
    letter-spacing: 0.01em;
    margin-top: 35px;
}
  &__img {
    width: 75.25px;
    height: 79.55px;
    margin: 0 auto;
    display: block;
  }
}