.block-example {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: $top3;

  &__texts {
    width: calc(100% / 12 * 5 - 20px);
  }

  &__text-title {
    margin-top: 25px;
    margin-bottom: 25px;
    line-height: 25px;
    max-width: 417px;
  }

  &__text {
    line-height: 25px;
  }

  &__text-marker {
    margin-top: 10px;
    position: relative;
    padding-left: 20px;
    max-width: 385px;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 6px;
      width: 8px;
      height: 8px;
      border-radius: 50px;
      background: #1663c7;
    }
  }

  &__img {
    width: calc(100% / 12 * 7 - 20px);
  }
}

@media screen and (max-width: $Large) {
  .block-example__texts {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .block-example__text-title {
    max-width: 100%;
  }
  .block-example__text-marker {
    max-width: 100%;
    display: block;
    flex: 1 0 250px;
  }
  .block-example__img {
    width: 100%;
    margin-top: 20px;
  }
}

@media screen and (max-width: $Medium) {
  .block-example__texts {
    padding: 0 80px;
  }

  .block-example__text-marker {
    flex: 0 1 350px;
  }
}
@media screen and (max-width: $Small) {
  .block-example {
    margin-top: 40px;
  }
  
  .block-example__texts {
    padding: 0;
  }
}
