section.about
  .container
    .block-title.block-title_white
      h4.block-title__title о нас 
      h3.block-title__sub-title Мы специализируемся не только на миграционном праве
    .block-about
      .block-about__item
        p.block-about__text-history Мы – это объединение юристов, специализирующихся на миграционном праве уже 10 лет. 
        p.block-about__text-history Каждый из нас прошёл долгий профессиональный путь и выдержал конкуренцию на рынке миграционных услуг, а затем мы организовали общее дело, чтобы вместе помогать приезжим. 
        p.block-about__text-history На нашей стороне опыт, связи и знания, поэтому вы можете быть уверены в быстром результате и грамотном решении вопроса.
        p.block-about__text-history Mы помогаем не только в получении временной регистрации в Москве и Московской области, но так же помогаем оформлять постоянную регистрацию (прописку) в Москве и Подмосковье. Нашими клиентами стали более 9000 человек и у нас только положительные отзывы. 
      .block-about__item
        .about-white
          h5.block-about__text-title Мы предоставляем услуги по различным правовым вопросам:
          p.block-about__text-subtitle 1.  Миграционный учёт и прописка по рвп и внж.
          p.block-about__text-subtitle  2. Временная регистрация и прописка для граждан РФ и СНГ  
          p.block-about__text-subtitle 3. Сопровождение адвоката по: 
          p.block-about__text-marker  миграционным делам
          p.block-about__text-marker  семейным спорам
          p.block-about__text-marker  банкротство физ. лиц (списание долгов)
          p.block-about__text-marker  уголовные дела (на стадии следствия и суда)
    