footer.footer#footer 
  .container 
    .block-footer 
      .block-footer__item
        .logo
          img(src="/dist/img/logo.png", alt="").logo__img
          .logo__titles
            h5.logo__title Авангард
            .logo__subtitle.block-footer__logo центр миграционных услуг
        .block-footer__text-info 
          p Вся информация и предложения носят сугубо информационный характер и не являются публичной офертой, определяемой ст. 435 и 437 ГК РФ.
          p ИНН: 7730231677 <br> ОГРН: 1177700004228
          p Все права защищены © ООО «Авангард»  2020г.
      .block-footer__item#block-footer__item2
          .menu
            ul.block-footer__links
              li.menu__link.block-footer__link
                a(href="#reg-info") Для чего нужна регистрация
              li.menu__link.block-footer__link
                a(href="#reg-step") Как получить регистрацию
              li.menu__link.block-footer__link
                a(href="#about") О нас
              li.menu__link.block-footer__link
                a(href="#qa") Ответы на вопросы
              li.menu__link.block-footer__link
                a(href="#footer") Контакты
      .block-footer__item
        .phone.block-footer__phone
          .block-footer__phone-icon-text
            img(src="/dist/img/phone-footer.svg", alt="").phone__icon.block-footer__icon
            p.block-footer__phone-text Телефоны
          .phone__numbers
            .phone__number.block-footer__phone-number +7 969 2829434
            .phone__number.block-footer__phone-number +7 969 2829434
        .callback.btn.btn_transp.btn_small.block-footer_transp
          img(src="/dist/img/phone-footer_white.svg", alt="").callback__icon
          .callback__text.block-footer__text-application заказать <span class="hidden__callback"> обратный </span> звонок
        .block-footer__online-application Онлайн заявки принимаются круглосуточно