section.form
	.container
		.block-title.block-title_white
			h4.block-title__title онлайн-заявка
			h3.block-title__sub-title.sub-title Часто задаваемые вопросы
		form().block-form            
				input(type="text" placeholder="Ваше фамилия, имя и отчество *" required).block-form__input
				input(type="text" placeholder="Гражданство" required).block-form__input
				input(type="text" placeholder="Телефон" required).block-form__input
				button(type="submit").block-form__btn.btn.btn_red.btn_big оформить регистрацию
