section.form
	.container
		.block-title.block-title_white
			h4.block-title__title онлайн-заявка
			h3.block-title__sub-title.sub-title Оформить регистрацию
		form().block-form      
				input(type="hidden" Name="project_name" value="Миграционный центр")      
				input(type="hidden" Name="admin_email" value="moscowregistracia@yandex.ru")      
				input(type="hidden" Name="form_subject" value="Заявка с сайта Миграционный центр")      
				input(type="text" name="Имя" placeholder="Ваша фамилия, имя и отчество *" required).block-form__input
				input(type="text" name="Гражданство" placeholder="Гражданство" required).block-form__input
				input(type="text"  name="Телефон" placeholder="Телефон" required).block-form__input
				button(type="submit").block-form__btn.btn.btn_red.btn_big оформить регистрацию
				p.block-form__police Нажимая на кнопку «оформить регистрацию» Вы соглашаетесь с условиями обработки персональных данных.
