header.header
	.container
		.header-blocks
			.header-blocks__text
				h4.header-blocks__uptitle для граждан россии и снг
				h1.header-blocks__title Официальная временная <br> и постоянная регистрация в Москве и МO 
				h3.header-blocks__sub-title за 1 день
				.header-blocks__btn.btn.btn_red.btn_big Оформить регистрацию
				.header-blocks__police онлайн заявки принимаются круглосуточно
			.header-blocks__woman
				img(src="/dist/img/header_woman.png", alt="")