section.navigation
	.block-contact
		.container
			.wrapper
				.logo
					img(src="/dist/img/logo.png", alt="").logo__img
					.logo__titles
						h5.logo__title Авангард
						.logo__subtitle центр миграционных услуг
				.phone
					img(src="/dist/img/phone.svg", alt="").phone__icon
					.phone__numbers
						.phone__number +7 495 6789567
						.phone__number +7 495 6789567
				.callback.btn.btn_transp.btn_small
					img(src="/dist/img/phone_red.svg", alt="").callback__icon
					.callback__text заказать обратный звонок

	.block-menu
		.container
			.menu
				ul.menu__links
					li.menu__link
						a(href="#") Для чего нужна регистрация
					li.menu__link
						a(href="#") Как получить регистрацию
					li.menu__link
						a(href="#") О нас
					li.menu__link
						a(href="#") Ответы на вопросы
					li.menu__link
						a(href="#") Контакты