section.qa
	.container
		.block-title
			h4.block-title__title.title ответы на
			h3.block-title__sub-title.sub-title Часто задаваемые вопросы
		.block-qa
			label.accordeon
				.accordeon__block
					h5.accorderon__title Зачем необходимо оформлять прописку в Москве и Московской области
				input(type="radio" name="qa").accordeon__input
				.accordeon__content
					p Прописка – термин из советского прошлого. На сегодняшний день есть понятие регистрации. И именно она открывает доступ ко всем московским льготам (бесплатное медицинское обслуживание, сад и школа для детей, оформление документов в государственных органах), а также возможно к более высокому заработку за счёт трудоустройства в престижную компанию. Ведь не секрет, что человека без регистрации не захочет принимать в штат ни один серьёзный работодатель. 
					p Но прописка в Москве может понадобиться не только тем, кто приехал на заработки. Известно, что жители столичного региона имеют и преимущества по сравнению с жителями других городов и областей России в социальном обслуживании. Часто даже для того, чтобы получить качественную медицинскую услугу в государственных клиниках тоже необходимо обладать Московской или Подмосковной пропиской. А если вы планируете получить кредит в банке, то без прописки сделать это просто невозможно.
					p На нашем сайте размещена юридическая информация, необходимая каждому, кто желает трудиться в столице и жить без опаски из-за возможных проблем с законом. Мы в доступной форме разъясним вам информацию по вопросам прописки в Москве и Московской области. 
					p Помощь в оформлении временной  и постоянной регистрации – одно из основных направлений нашей деятельности. Проведём правовой анализ ситуации, выработаем наиболее приемлемое решение, поможем заполнить все необходимые бланки и сформировать пакет документов по последнему слову законодательства.
			label.accordeon
				.accordeon__block
					h5.accorderon__title Как оформить и что нужно знать о прописке в Москве и Московской области
				input(type="radio" name="qa").accordeon__input
				.accordeon__content
			label.accordeon
				.accordeon__block
					h5.accorderon__title На что обращать внимание при выборе организации, занимающейся пропиской иногородних и приезжих
				input(type="radio" name="qa").accordeon__input
				.accordeon__content
			label.accordeon
				.accordeon__block
					h5.accorderon__title Какие еще консультации вы можете получить у нас:
				input(type="radio" name="qa").accordeon__input
				.accordeon__content
			label.accordeon
				.accordeon__block
					h5.accorderon__title Как получить регистрацию граждану, не достигшему 14-летнего возраста?
				input(type="radio" name="qa").accordeon__input
				.accordeon__content
