section.reg-info
  .container
    .block-title
      h4.block-title__title.title для чего
      h3.block-title__sub-title.sub-title Нужна регистрация
    .block-items  
      .block-items__item.item
        img(src="dist/img/reg-info01.svg" alt="").block-items__img
        h5.block-items__text Получение медицинского обслуживания
      .block-items__item.item
        img(src="/dist/img/reg-info02.svg"  alt="").block-items__img
        h5.block-items__text Оформление детей в детский сад и школу
      .block-items__item.item
        img(src="/dist/img/reg-info03.svg"  alt="").block-items__img
        h5.block-items__text Поступление в школу или ВУЗ
      .block-items__item.item
        img(src="/dist/img/reg-info04.svg"  alt="").block-items__img
        h5.block-items__text Законное прибывание
      .block-items__item.item
        img(src="/dist/img/reg-info05.svg" alt="").block-items__img
        h5.block-items__text Постановка на учет в военкомате
      .block-items__item.item
        img(src="/dist/img/reg-info06.svg" alt="").block-items__img
        h5.block-items__text Для успешного одобрения кредита в банке
      .block-items__item.item
        img(src="/dist/img/reg-info07.svg" alt="").block-items__img
        h5.block-items__text Получение визы
      .block-items__item.item
        img(src="/dist/img/reg-info08.svg" alt="").block-items__img
        h5.block-items__text Для благополучного устройства на работу

      