section.reg-example
  .container
    .block-title
      h4.block-title__title.title внимание!
      h3.block-title__sub-title.sub-title Образец регистрации 2020 года
    .block-example
      .block-example__texts
        p.block-example__text Именно так должна выглядеть форма регистрации в 2020 году. Будьте осторожны, многие фирмы выдают документы старого образца, которые, к сожалению, уже не действительны. 
        h5.block-example__text-title Определить нормальную регистрацию можно по нескольким пунктам:
        p.block-example__text-marker Формат листа может быть А5 или А4 
        p.block-example__text-marker Новый орган рег. учета ОМВД
        p.block-example__text-marker Новая красная печать ОМВД
        p.block-example__text-marker Синий штамп больше не ставиться
        p.block-example__text-marker Свидетельство о временной регистрации от руки не заполняется!

      img(src="/dist/img/reg-example.svg", alt="").block-example__img