section.reg-step
  .container
    .block-title
      h4.block-title__title как 
      h3.block-title__sub-title Получить регистрацию
    .block-step
      .block-step__item#reg-step01
        .block-step__img
          img(src="/dist/img/reg-step01.svg", alt="")
        h5.block-step__text-title Оставьте заявку
        p.block-step__text Заполните онлайн заявку или позвоните нам
      .block-step__item#reg-step02
        .block-step__img
          img(src="/dist/img/reg-step02.svg", alt="")
        h5.block-step__text-title Мы перезвоним
        p.block-step__text Уточним детали и начнем оформление
      .block-step__item#reg-step03
        .block-step__img
          img(src="/dist/img/reg-step03.svg", alt="")
        h5.block-step__text-title Оплатите и заберите
        p.block-step__text Вам необходимо явится в МФЦ для подачи документов в присутствии собственника жилья, оплатить и забрать регистрацию
